{% extends "base.html" %}

{% block content %}
<h1>Feedback</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<form method="post" autocomplete="off">
    <div class="form-group">
        <label for="message">Enter your feedback:</label><br>
        <textarea name="message" id="message" rows="5" cols="50" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}